-let j = 0;

aside.navigation-aside
    button.navigation-aside__open-btn Zobacz inne sekcje
        img.navigation-aside__img(src=`${prefix}img/sort.svg`)
    hr
    ul.navigation-aside__list
        each section in article.sections
            if (j === clickedLink)
                li.navigation-aside__list-element.navigation-aside__list-element--clicked 
                        a.navigation-aside__link(href=`./${section.url}` data-link) #{section.title}
                -j++;
            else  
                li.navigation-aside__list-element 
                    a.navigation-aside__link(href=`./${section.url}` data-link) #{section.title}
                -j++;