header.header
    .header__logo
        a.header__link(href=`${prefix}index.pug`)
            img.header__logo-img(src=`${prefix}img/main_logo.png`)
            .header__title Informatyka Kwantowa dla każdego
                span.header__span-title konkurs IBM 
    .header__menu
        ul.header__menu-list
            li.header__menu-list-element
                a.header__menu-link(href=`${prefix}subpages/for_organisers.pug`) Dla Organizatorów
            li.header__menu-list-element
                a.header__menu-link(href=`${prefix}index.pug`) Informaty kwantowa 
            li.header__menu-list-element
                a.header__menu-link(href=`${prefix}subpages/about_me.pug`) O Mnie
            li.header__menu-list-element
                a.header__menu-link(href='https://github.com/Piotr385/informatyka-kwantowa-konkurs_ibm' target='_blank') Repozytorium