extends _layout_.pug

block variables
    -let prefix = './';
    -const description = '';
    -const keywords = '';
    -const title = 'Informatka kwantowa dla każdego - konkurs IBM';
    -const site_name = 'Strona Główna';
    -const url = '';
    -const sectionTitle = 'Informatka kwantowa dla każdego';
    -const sectionSpan = '';
    -const articles = [new Article('Wprowadzenie do', 'introduction_to_quantum_compiuting', 'Informatyki kwantowej',  Section('Co to jest informatyka kwantowa?', 'whatIsTheQuantumCompiuting.pug')), new Article('Obliczenia i Obwody', 'computing_and_Quantum_Circuits', 'kwantowe', Section('Wprowadzenie', 'introdaction.pug')), new Article('Algorytmy kwantowe', 'quantum_algorithms', '', Section('Wprowadzenie', 'introdaction.pug'))];
    -let i = 0;

block article-container
    each article in articles
        .section-articles__link-article-container
            .section-articles__title-container
                h2.section-articles__title-link #{article.title} 
                span.section-articles__span #{article.span}
            a.section-articles__link(href=`${prefix}${article.url}/${article.sections[0].url}`)
                if (i === 0)
                    img.section-articles__img(src=`${prefix}img/chevron_left-24px.svg`)
                    -i++; 
                else 
                    img.section-articles__img(src=`${prefix}img/chevron_right-24px.svg`)
                    -i--;